@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #545454 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #545454;
  border-color: #545454;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #2e2e2e;
  border-color: #2e2e2e;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2e2e2e !important;
  border-color: #2e2e2e !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #212121;
  color: #212121;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #545454;
  border-color: #545454;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #545454 !important;
  border-color: #545454 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #545454 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #545454;
}
.btn-social:hover {
  background: #545454;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #545454;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #545454;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #545454;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #545454;
}
.lead a,
.lead a:hover {
  color: #545454;
}
.lead blockquote {
  border-color: #545454;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c7c7c7;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #545454;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#index-header1-0 .mbr-section-lead {
  font-size: 32px;
}
#index-header1-0 .mbr-section-title {
  color: #000000;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
}
#menu-0 .link {
  font-size: 0.85rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #545454;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #000000;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #545454;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #545454!important;
}
#form1-8 .form-control-label {
  color: #ffffff;
}
#form1-8 .mbr-section-title {
  color: #ffffff;
}
#ext_menu-c .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-c .navbar-caption {
  color: #ffffff;
}
#ext_menu-c .navbar-toggler {
  color: #ffffff;
}
#ext_menu-c .close-icon::before,
#ext_menu-c .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-c .link,
#ext_menu-c .dropdown-item {
  color: #ffffff;
}
#ext_menu-c .link {
  font-size: 0.75rem;
}
#ext_menu-c .dropdown-item,
#ext_menu-c .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-c .link:hover,
#ext_menu-c .dropdown-item:hover,
#ext_menu-c .link:focus,
#ext_menu-c .dropdown-item:focus {
  color: #545454;
}
#ext_menu-c .link[aria-expanded="true"],
#ext_menu-c .dropdown-menu {
  background: #0e0e0e;
}
#ext_menu-c .nav-dropdown-sm .link:focus,
#ext_menu-c .nav-dropdown-sm .link:hover,
#ext_menu-c .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-c .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#ext_menu-c .navbar,
#ext_menu-c .nav-dropdown-sm,
#ext_menu-c .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-c .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#ext_menu-c .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-c .bg-color.transparent.opened .link:hover,
#ext_menu-c .bg-color.transparent.opened .link:focus {
  color: #545454;
}
#ext_menu-c .link[aria-expanded="true"],
#ext_menu-c .dropdown-item[aria-expanded="true"] {
  color: #545454!important;
}
#menu-1 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1 .navbar-caption {
  color: #ffffff;
}
#menu-1 .navbar-toggler {
  color: #ffffff;
}
#menu-1 .close-icon::before,
#menu-1 .close-icon::after {
  background-color: #ffffff;
}
#menu-1 .link,
#menu-1 .dropdown-item {
  color: #ffffff;
}
#menu-1 .link {
  font-size: 0.85rem;
}
#menu-1 .dropdown-item,
#menu-1 .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-1 .link:hover,
#menu-1 .dropdown-item:hover,
#menu-1 .link:focus,
#menu-1 .dropdown-item:focus {
  color: #545454;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-menu {
  background: #000000;
}
#menu-1 .nav-dropdown-sm .link:focus,
#menu-1 .nav-dropdown-sm .link:hover,
#menu-1 .nav-dropdown-sm .dropdown-item:focus,
#menu-1 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-1 .navbar,
#menu-1 .nav-dropdown-sm,
#menu-1 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-1 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1 .bg-color.transparent.opened .link:hover,
#menu-1 .bg-color.transparent.opened .link:focus {
  color: #545454;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-item[aria-expanded="true"] {
  color: #545454!important;
}
#features4-l .card-subtitle {
  color: #bcbcbc;
}
#features4-l .iconbox {
  background-color: #000000;
  border-color: #000000;
}
#features4-m .card-subtitle {
  color: #bcbcbc;
}
#features4-m .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#menu-d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-d .navbar-caption {
  color: #ffffff;
}
#menu-d .navbar-toggler {
  color: #ffffff;
}
#menu-d .close-icon::before,
#menu-d .close-icon::after {
  background-color: #ffffff;
}
#menu-d .link,
#menu-d .dropdown-item {
  color: #ffffff;
}
#menu-d .link {
  font-size: 0.85rem;
}
#menu-d .dropdown-item,
#menu-d .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-d .link:hover,
#menu-d .dropdown-item:hover,
#menu-d .link:focus,
#menu-d .dropdown-item:focus {
  color: #545454;
}
#menu-d .link[aria-expanded="true"],
#menu-d .dropdown-menu {
  background: #000000;
}
#menu-d .nav-dropdown-sm .link:focus,
#menu-d .nav-dropdown-sm .link:hover,
#menu-d .nav-dropdown-sm .dropdown-item:focus,
#menu-d .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-d .navbar,
#menu-d .nav-dropdown-sm,
#menu-d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-d .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-d .bg-color.transparent.opened .link:hover,
#menu-d .bg-color.transparent.opened .link:focus {
  color: #545454;
}
#menu-d .link[aria-expanded="true"],
#menu-d .dropdown-item[aria-expanded="true"] {
  color: #545454!important;
}
#features1-f .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #000000;
}
#features1-k .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #000000;
}
#menu-j .hide-buttons .nav-btn {
  display: none !important;
}
#menu-j .navbar-caption {
  color: #ffffff;
}
#menu-j .navbar-toggler {
  color: #ffffff;
}
#menu-j .close-icon::before,
#menu-j .close-icon::after {
  background-color: #ffffff;
}
#menu-j .link,
#menu-j .dropdown-item {
  color: #ffffff;
}
#menu-j .link {
  font-size: 0.85rem;
}
#menu-j .dropdown-item,
#menu-j .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-j .link:hover,
#menu-j .dropdown-item:hover,
#menu-j .link:focus,
#menu-j .dropdown-item:focus {
  color: #545454;
}
#menu-j .link[aria-expanded="true"],
#menu-j .dropdown-menu {
  background: #000000;
}
#menu-j .nav-dropdown-sm .link:focus,
#menu-j .nav-dropdown-sm .link:hover,
#menu-j .nav-dropdown-sm .dropdown-item:focus,
#menu-j .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-j .navbar,
#menu-j .nav-dropdown-sm,
#menu-j .nav-dropdown-sm .link[aria-expanded="true"],
#menu-j .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-j .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-j .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-j .bg-color.transparent.opened .link:hover,
#menu-j .bg-color.transparent.opened .link:focus {
  color: #545454;
}
#menu-j .link[aria-expanded="true"],
#menu-j .dropdown-item[aria-expanded="true"] {
  color: #545454!important;
}
#menu-n .hide-buttons .nav-btn {
  display: none !important;
}
#menu-n .navbar-caption {
  color: #ffffff;
}
#menu-n .navbar-toggler {
  color: #ffffff;
}
#menu-n .close-icon::before,
#menu-n .close-icon::after {
  background-color: #ffffff;
}
#menu-n .link,
#menu-n .dropdown-item {
  color: #ffffff;
}
#menu-n .link {
  font-size: 0.85rem;
}
#menu-n .dropdown-item,
#menu-n .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-n .link:hover,
#menu-n .dropdown-item:hover,
#menu-n .link:focus,
#menu-n .dropdown-item:focus {
  color: #545454;
}
#menu-n .link[aria-expanded="true"],
#menu-n .dropdown-menu {
  background: #000000;
}
#menu-n .nav-dropdown-sm .link:focus,
#menu-n .nav-dropdown-sm .link:hover,
#menu-n .nav-dropdown-sm .dropdown-item:focus,
#menu-n .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-n .navbar,
#menu-n .nav-dropdown-sm,
#menu-n .nav-dropdown-sm .link[aria-expanded="true"],
#menu-n .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-n .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-n .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-n .bg-color.transparent.opened .link:hover,
#menu-n .bg-color.transparent.opened .link:focus {
  color: #545454;
}
#menu-n .link[aria-expanded="true"],
#menu-n .dropdown-item[aria-expanded="true"] {
  color: #545454!important;
}
#features4-o .card-subtitle {
  color: #bcbcbc;
}
#features4-o .iconbox {
  background-color: #000000;
  border-color: #000000;
}
#features4-q .card-subtitle {
  color: #bcbcbc;
}
#features4-q .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#menu-r .hide-buttons .nav-btn {
  display: none !important;
}
#menu-r .navbar-caption {
  color: #ffffff;
}
#menu-r .navbar-toggler {
  color: #ffffff;
}
#menu-r .close-icon::before,
#menu-r .close-icon::after {
  background-color: #ffffff;
}
#menu-r .link,
#menu-r .dropdown-item {
  color: #ffffff;
}
#menu-r .link {
  font-size: 0.85rem;
}
#menu-r .dropdown-item,
#menu-r .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-r .link:hover,
#menu-r .dropdown-item:hover,
#menu-r .link:focus,
#menu-r .dropdown-item:focus {
  color: #545454;
}
#menu-r .link[aria-expanded="true"],
#menu-r .dropdown-menu {
  background: #000000;
}
#menu-r .nav-dropdown-sm .link:focus,
#menu-r .nav-dropdown-sm .link:hover,
#menu-r .nav-dropdown-sm .dropdown-item:focus,
#menu-r .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-r .navbar,
#menu-r .nav-dropdown-sm,
#menu-r .nav-dropdown-sm .link[aria-expanded="true"],
#menu-r .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-r .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-r .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-r .bg-color.transparent.opened .link:hover,
#menu-r .bg-color.transparent.opened .link:focus {
  color: #545454;
}
#menu-r .link[aria-expanded="true"],
#menu-r .dropdown-item[aria-expanded="true"] {
  color: #545454!important;
}
#features4-s .card-subtitle {
  color: #bcbcbc;
}
#features4-s .iconbox {
  background-color: #000000;
  border-color: #000000;
}
#features4-u .card-subtitle {
  color: #bcbcbc;
}
#features4-u .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#menu-v .hide-buttons .nav-btn {
  display: none !important;
}
#menu-v .navbar-caption {
  color: #ffffff;
}
#menu-v .navbar-toggler {
  color: #ffffff;
}
#menu-v .close-icon::before,
#menu-v .close-icon::after {
  background-color: #ffffff;
}
#menu-v .link,
#menu-v .dropdown-item {
  color: #ffffff;
}
#menu-v .link {
  font-size: 0.85rem;
}
#menu-v .dropdown-item,
#menu-v .nav-dropdown-sm .link {
  font-size: 0.921rem;
}
#menu-v .link:hover,
#menu-v .dropdown-item:hover,
#menu-v .link:focus,
#menu-v .dropdown-item:focus {
  color: #545454;
}
#menu-v .link[aria-expanded="true"],
#menu-v .dropdown-menu {
  background: #000000;
}
#menu-v .nav-dropdown-sm .link:focus,
#menu-v .nav-dropdown-sm .link:hover,
#menu-v .nav-dropdown-sm .dropdown-item:focus,
#menu-v .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-v .navbar,
#menu-v .nav-dropdown-sm,
#menu-v .nav-dropdown-sm .link[aria-expanded="true"],
#menu-v .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-v .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-v .bg-color.transparent.opened .link:hover,
#menu-v .bg-color.transparent.opened .link:focus {
  color: #545454;
}
#menu-v .link[aria-expanded="true"],
#menu-v .dropdown-item[aria-expanded="true"] {
  color: #545454!important;
}
#features4-w .card-subtitle {
  color: #bcbcbc;
}
#features4-w .iconbox {
  background-color: #000000;
  border-color: #000000;
}
#features4-y .card-subtitle {
  color: #bcbcbc;
}
#features4-y .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
